.timer{
  font-family: 'Oswald Bold', Oswald, sans-serif; 
  font-size: 20px;
  background-color:;
}
body{
  background-color: black;
   font-family: 'Oswald Bold', Oswald, sans-serif; 
   width: 100%;
}
.menu {
  overflow: hidden;
  background-color: black;
  background-image: "circuit.png"; 
  font-family: 'Oswald Bold', Oswald, sans-serif; 
}

.menu a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

.menu a.active {
  background-color: #000000;
  color: white;
}

.register{
  background-color:black;
  color:white;
  float: right;
  border-color: black;
  
}
#ISACA{
	width: inherit;
	height: auto;
}
#NGN{
    width: inherit;
    height: auto;
}
#logo{
    width: 50%;
    height: auto;
}
.col-md-2 {
    height: 50%;
}
