body{
  background-color: black;
   font-family: 'Oswald Bold', Oswald, sans-serif; 
   width: 100%;
   padding-top: 7%;
}
.menu {
  overflow: hidden;
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  background-image: "circuit.png"; 
  font-family: 'Oswald Bold', Oswald, sans-serif; 
  z-index: 300;
}

.menu a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

.menu a.active {
  background-color: #000000;
  color: white;
}

.register{
  background-color:black;
  color:white;
  float: right;
  border-color: black;
  
}

.title{
  color:#00f2bb;
  text-align: center;
  padding-top:5%;
  background-color: black;
 
}

iframe{
  padding-top: 5%;
}
#logo{
    width: 50%;
    height: auto;
}

